<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1><%= @greeting %></h1>
		</div>
		
		<%= calendar_for(Assignment.all, :first => :today, :last => (Date.today + 7*2), :html => {:class => "table table-calendar"}) do |t| %>
			<%= t.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') %>
			<%= t.day(:day_method => :due) do |day, assignments| %>
				<div class="day"><%= day.day %></div>
				<% assignments.each do |assignment| %>
					<div class="label label-info"><%= link_to assignment.summary, admin_assignment_path(assignment) %></div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>