<h1>Documents</h1>
<table class="zebra-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.document.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @documents.each do |document| -%>
   <tr>
    <td><%= document.id %></td>
        <td><%= link_to document.name, document_path(document) %>
    </td>
        <td><%= document.created_at %></td>
    <td>
      <%= link_to "Show", document_path(document) %>
      <%= link_to "Edit", edit_document_path(document) %>
      <%= link_to "Destroy", document_path(document), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_document_path, :class => 'btn primary' %>
