<%= form_for([:admin, @assignment], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :summary, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :summary, :class => "span6" %>
      <p class="help-block">Give a short overview of the assignment.</p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :more_info, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :more_info, :class => "span6", :rows => 4 %>
      <p class="help-block">If necessary, describe the assignment in depth.</p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :due, "Due date", :class => "control-label" %>
    <div class="controls controls-date">
      <%= f.date_select :due, :class => "input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :section_id, "Section", :class => "control-label" %>
    <div class="controls">
      <%= collection_select :assignment, :section_id, Section.all, :id, :name, :prompt => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :assignee_id, "Assignee", :class => "control-label" %>
    <div class="controls">
      <%= text_field 'assignment', 'assignee_name', :class => "span4" %>
      <%= f.hidden_field :assignee_id %>
    </div>
  </div>

  <div class="form-actions">
  <% if controller.action_name == "edit" %>
    <button class="btn btn-primary" type="submit">Update Assignment</button>
    <%= link_to "Cancel", [:admin, @photoset], :class => "btn" %>
  <% else %>
    <button class="btn btn-primary" type="submit">Create Assignment</button>
    <%= link_to "Cancel", admin_photosets_path, :class => "btn" %>
  <% end %>
  </div>
<% end %>

<script>
$(function() {


  $("#assignment_assignee_name").autocomplete({
    source: <%= User.all_in_autocomplete.to_json.html_safe %>,

    focus: function(event, ui) {
      $("#assignment_assignee_name").val(ui.item.label);

      return false;
    },

    select: function(event, ui) {
      $("#assignment_assignee_name").val(ui.item.label);
      $("#assignment_assignee_id").val(ui.item.value);

      return false;
    }
  });
})
</script>
