<div class="page-header">
  <h1>Assignment details</h1>
</div>

<div class="row">
  <div class="span6">
    <h2><%= @assignment.summary %></h2>
    
    <p><%= @assignment.more_info %></p>

    <h3>Recent activity</h3>
  </div>
  <div class="span3 assignment-sidebar">
  <div class="inner">
    <p><strong>Due date:</strong> <%= @assignment.due %></p>
    <p><strong>Status:</strong> <%= status_label(@assignment) %></p>
    <p><strong>Assigned to:</strong> <%= @assignment.assignee ? @assignment.assignee.name : "(no one)" %></p>
    <p><strong>Assigned by:</strong> <%= @assignment.assignor ? @assignment.assignor.name : "(no one)" %></p>
  </div>
  </div>
</div>
