<%= form_for([:admin, @photoset]) do |f| %>
  <% if @photoset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photoset.errors.count, "error") %> prohibited this photoset from being saved:</h2>

      <ul>
      <% @photoset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
