<%= form_for([:admin, @photoset], :html => { :class => "form-horizontal" }) do |f| %>
  <% if @photoset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photoset.errors.count, "error") %> prohibited this photoset from being saved:</h2>

      <ul>
      <% @photoset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="control-group">
  <%= f.label :name, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "input-xlarge" %>
    <p class="help-block">What's the name of the event that the photos were taken at?</p>
  </div>
</div>

<div class="control-group">
  <%= f.label :location, :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :location, :class => "input-xlarge" %>
    <p class="help-block">For example, "Rock Canyon High School", "Shea Stadium", etc.</p>
  </div>
</div>

<div class="form-actions">
<% if controller.action_name == "edit" %>
  <button class="btn btn-primary" type="submit">Update Photoset</button>
  <%= link_to "Cancel", [:admin, @photoset], :class => "btn" %>
<% else %>
  <button class="btn btn-primary" type="submit">Create Photoset</button>
  <%= link_to "Cancel", admin_photosets_path, :class => "btn" %>
<% end %>
</div>
<% end %>
