<div class="page-header">
  <h1>Listing photosets</h1>
</div>

<% if @photosets.size > 0 %>
<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @photosets.each do |photoset| %>
  <tr>
    <td><%= photoset.name %></td>
    <td><%= photoset.location %></td>
    <td><%= link_to 'Show', [:admin, photoset] %> <%= link_to 'Edit', edit_admin_photoset_path(photoset) %> <%= link_to 'Destroy', [:admin, photoset], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
  <div class="missing-data">
    <h1>No one has created any photosets yet.</h1>
  </div>
<% end %>