<% content_for :outer_content do %>
<div class="editor-header">
	<div class="editor-document-info">
		<div class="container">
			<h2><%= @document.name %></h2>
			<div class="more-info"><%= link_to "&larr; Back to documents".html_safe, all_admin_documents_path %> &sdot; <%= link_to "Document info", [:admin, @document] %></div>
		</div>
	</div>
	<div class="editor-toolbar btn-toolbar">
		<div class="container">
			<div class="btn-group">
				<a href="#" class="bold-button btn"><i class="icon-bold"></i></a>
				<a href="#" class="italic-button btn"><i class="icon-italic"></i></a>
			</div>
			<div class="btn-group">
				<a href="#" class="link-button btn"><i class="icon-share-alt"></i> Insert Link</a>
			</div>
			<div class="btn-group">
				<a href="#" class="ul-button btn"><i class="icon-list"></i></a>
			</div>
		</div>
	</div>
</div>

<div id="<%= @document.secure_id %>" class="editor-document-body" contentEditable="true">
	<%= @document.body.to_s.html_safe %>
</div>
<% end %>

<% content_for :js do %>
<script>
$(function() {
	mobwrite.debug = true;
	mobwrite.syncGateway = "/sync";
	mobwrite.syncUsername = "<%= current_user.secure_id %>";
	mobwrite.share('<%= @document.secure_id %>');

	$('.bold-button').click(function(e) {
		e.preventDefault();

		document.execCommand('bold');
	});

	$('.link-button').click(function(e) {
		e.preventDefault();

		document.execCommand('createLink', null, "http://google.com/");
	});

	$('.ul-button').click(function(e) {
		e.preventDefault();

		document.execCommand('insertUnorderedList');
	});

	$(document).keydown(function(e) {
		if (e.keyCode == 9) {
			document.execCommand('insertHTML', null, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
			return false;
		}
	});
});
</script>
<% end %>