<div class="row">
	<div class="span9">
		<div class="document-edit">
			<div class="document-edit-name">
				<%= @document.name %>
			</div>
			<div class="document-edit-toolbar" id="<%= @document.secure_id %>-toolbar">
				<a data-wysihtml5-command="bold" class="btn btn-mini"><strong>Bold</strong></a>
				<a data-wysihtml5-command="italic" class="btn btn-mini"><em>Italic</em></a>
			</div>
			<div class="document-edit-body">
				<textarea id="<%= @document.secure_id %>" placeholder="Start writing your document here..."><%= @document.body ? @document.body.to_s.html_safe : "&nbsp;".html_safe %></textarea>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="document-back">
			<%= link_to "&larr; Back to documents", all_admin_documents_path %>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
$(function() {
	var editor = new wysihtml5.Editor('<%= @document.secure_id %>', {
		style: false,
		stylesheets: ['<%= asset_path("admin.css") %>'],
		toolbar: '<%= @document.secure_id %>-toolbar',
		parserRules:  wysihtml5ParserRules});
	
	mobwrite.syncGateway = "/sync";
	mobwrite.syncUsername = "<%= current_user.secure_id %>-" + mobwrite.uniqueId();
	mobwrite.share('<%= @document.secure_id %>');
});
</script>
<% end %>