<div class="page-header"><h1>Edit Document</h1></div>

<h2 class="document-name" id="document_name"><%= @document.name %></h2>
<h3 class="document-info last"><%= link_to "View document information &raquo;".html_safe, [:admin, @document] %></h3>

<%= form_for [:admin, @document] do |f| %>
	<div class="tabbable">
		<div class="wmd-button-bar-wrapper">
			<div id="wmd-button-bar">
				<div class="pull-right">
					<div class="btn-toolbar">
						<div class="btn-group">
							<a href="#" class="btn" id="preview-button"><i class="icon-search"></i> Preview</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane active" id="edit_document">
			<div class="wmd-panel">
				<div class="wmd-textarea-wrapper">
					<div class="expandingArea">
						<pre><span></span><br></pre>
						<%= f.text_area :body, :id => "wmd-input" %>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="preview_document">
			<div class="wmd-preview-wrapper"><div id="wmd-preview" class="wmd-panel wmd-preview"></div></div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save Document</button>
			<%= link_to "Cancel", admin_documents_path, :class => "btn", :confirm => "Are you sure? Your changes will not be saved." %>
		</div>
	</div>
<% end %>

<div class="modal fade" id="renameModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Rename Document</h3>
	</div>
	<div class="modal-body">
		<%= form_for [:admin, @document] do |f| -%>
		<div class="control-group">
			<%= f.label :name, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :name, :class => "input-xlarge" %>
				<p class="help-block">Please provide a descriptive name so others know what your document is.</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Rename</button>
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<% end %>
	</div>
</div>

<% content_for :js do %>
<script>
$(function() {
	var converter = Markdown.getSanitizingConverter();
	var editor = new Markdown.Editor(converter);
	editor.run();

	$("#renameModal").modal('hide');

	$("#document_name").click(function() {
		$("#renameModal").modal('show');
	});

	$("#preview-button").data('showing-preview', false);

	$("#preview-button").click(function (e) {
		e.preventDefault();

		$(this).button('toggle');

		if($(this).data("showing-preview") == false) {
			$('#edit_document').removeClass('active');
			$('#preview_document').addClass('active');
			$(this).data("showing-preview", true);
		} else {
			$('#edit_document').addClass('active');
			$('#preview_document').removeClass('active');
			$(this).data("showing-preview", false);
		}
	});

	$('.expandingArea').expandElegantly();
});
</script>
<% end %>