<div class="container">
	<div class="row">
		<div class="span8">
			<div class="document-edit">
				<div class="document-edit-inner">
					<div class="document-edit-name">
						<%= @document.name %>
					</div>
					<div class="document-edit-toolbar" id="<%= @document.secure_id %>-toolbar">
						<div class="btn-group">
							<a data-wysihtml5-command="bold" class="btn btn-mini"><strong>Bold</strong></a>
							<a data-wysihtml5-command="italic" class="btn btn-mini"><em>Italic</em></a>
						</div>
					</div>
					<div class="document-edit-body">
						<textarea id="<%= @document.secure_id %>" placeholder="Start writing your document here..."><%= @document.body ? @document.body.to_s.html_safe : "&nbsp;".html_safe %></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="document-back">
				<%= link_to "&larr; Back to documents".html_safe, all_admin_documents_path %>
			</div>
			<div class="document-sidebar">
				<div class="document-last-saved">Saved as you type.</div>
				<h4>Contributors</h4>
				<ul>
					<% @document.contributors.each_with_index do |contributor, index| %>
					<li>
						<%= contributor.name %><%= " <span class='label'>Creator</span>".html_safe if index == 0 %>
					</tr>
					<% end %>
				</ul>
				<h4>Publish Options</h4>
				<% if @document.post %>
					<div class="document-sidebar-section">Published on <%= @document.created_at %>.</div>
				<% else %>
					<div class="document-sidebar-section">Not published yet.</div>
					<div class="document-sidebar-section"><a class="btn btn-small">Publish</a></div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
$(function() {
	var editor = new wysihtml5.Editor('<%= @document.secure_id %>', {
		style: false,
		stylesheets: ['<%= asset_path("admin.css") %>'],
		toolbar: '<%= @document.secure_id %>-toolbar',
		parserRules:  wysihtml5ParserRules});
	
	mobwrite.syncGateway = "/sync";
	mobwrite.syncUsername = "<%= current_user.secure_id %>-" + mobwrite.uniqueId();
	mobwrite.share('<%= @document.secure_id %>');
});
</script>
<% end %>