<div class="page-header"><h1>Document Information</h1></div>

<h2 class="document-name" id="document_name"><%= @document.name %></h2>
<% if @document.versions.size > 0 %>
<h3 class="document-info">Last edited <strong><%= time_ago_in_words(@document.updated_at) %> ago</strong> by <strong><%= @document.versions.last.user.name %></strong></h3>
<% end %>

<div class="btn-toolbar document-toolbar">
	<div class="btn-group">
		<%= link_to "<i class='icon-pencil'></i> Edit Document".html_safe, edit_admin_document_path(@document), :class => "btn" %>
		<%= link_to "Rename".html_safe, "#", :class => "btn document-rename-link" %>
		<%= link_to "Destroy".html_safe, [:admin, @document], :method => :delete, :confirm => "Are you sure you want to delete this document?", :class => "btn" %>
	</div>
</div>

<h4>Contributors</h4>

<table class="table table-bordered" style="width: 300px;">
	<% @document.contributors.each_with_index do |contributor, index| %>
	<tr>
		<td><%= contributor.name %><%= " <span class='label'>Creator</span>".html_safe if index == 0 %></td>
	</tr>
	<% end %>
</table>

<%= render :partial => "rename" %>

<% content_for :js do %>
<script>
$(function() {
	$("#renameModal").modal('hide');

	$(".document-rename-link").click(function() {
		$("#renameModal").modal('show');
	});
});
</script>
<% end %>