<!DOCTYPE html>
<html>
<head>
  <title>Rock Online</title>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "admin" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>-controller <%= controller.action_name %>-action">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        <%= link_to "Rock Online <sub>&beta;</sub>".html_safe, admin_path, :class => "brand" %>
        <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Write
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Documents", admin_documents_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Media
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Photos", admin_photosets_path %></li>
            </ul>
          </li>
          <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Plan
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Assignments", "#" %></li>
              <li><%= link_to "Calendar", "#" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Layout
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Feature", "#" %></li>
              <li><%= link_to "Sections", "#" %></li>
            </ul>
          </li>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            	Organize
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "People", admin_users_path %></li>
              <li><%= link_to "Sections", admin_sections_path %></li>
            </ul>
          </li>
        </ul>
				
				<ul class="nav pull-right">
				<% if logged_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Edit profile", edit_admin_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "Log out", logout_path %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Log in", "/auth/google_oauth2" %></li>
				<% end %>
				</ul>
        </div>
      </div>
    </div>
  </div>
  <% if content_for?(:sidebar) %>
  <div class="span3 sidebar">
    <%= yield :sidebar %>
  </div>
  <% end %>
  <div class="container-fluid">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <%= yield :outer_content %>
  <%= yield :js %>
</body>
</html>
